body{
  background-repeat: no-repeat;
  background-size:100%;
  background-image: linear-gradient( rgb(58, 57, 57) , rgb(0, 0, 0));
  max-width: 1200px;
  max-height: 1200px;
  height: 766px;
  align-items: center;
}

.content {
  align-content: center;
  flex-wrap: wrap;
}

.content h1 {
  align-content: center;
  align-items: center;
  color: rgb(216, 212, 212);
}

button{
  border-radius: 10px;
}
.calculator {
    background-color: rgb(84, 90, 96);
    border-radius: 20px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px; */
    margin: 50px auto;
    width: 380px;
    height: 455px;
    
  }

  .calculatorkey {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
  }
  
  .calculator button {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
  }

  .buttonc {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    background-color: rgb(184, 65, 65);
  }

  .buttonsubmit {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    background-color: rgb(39, 133, 44);
  }
  
  .display {
    padding: 10px;
    font-size: 47px;
    text-align: right;
    background-color: aliceblue;
    width: 305px;
    height: 55px;
    margin-left: 27px;
    margin-top: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  
  .maindisplay{
    align-content: center;
    height: 150px;
  }