*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.logo{
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: white;
  line-height: 80px;
  padding: 0 100px;
}

nav{
  background:linear-gradient(to bottom,rgb(176, 176, 176),rgba(128, 128, 128, 0));
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  /* margin-right: 20px; */
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
}

a.active,a:hover{
  background: rgb(255, 255, 255);
  transition: 0.5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width:952px){
  .logo{
      font-size: 30px;
      padding-left: 50px;
  }

  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width:852px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      right: -100%;
      text-align: center;
      transition: all 0.5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }

  nav ul li a{
      font-size: 20px;
  }
  a:hover,a.active{
      background: none;
      color: blueviolet;
  }
  #check:checked ~ ul{
      right: 0;
  }
}


/* ############################################ */









.heading{
  background: linear-gradient(to left,rgb(83, 83, 83),rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-shadow: 2px 2px 7px rgb(255, 255, 255);
}

.content {
width: 100%;
padding-bottom: 50px;
}

.para{
  padding: 150px 50px;
}

.paragraph{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}


button{
  border-radius: 10px;
}
.calculator {
    background-color: rgb(84, 90, 96);
    border-radius: 10px;
    width: 380px;
    height: 465px;
    box-shadow: 2px 2px 10px black;
    border: 2px solid rgb(233, 230, 230);
  }

  .calculatorkey {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
  }
  
  .calculatorkey button{
    box-shadow: 2px 2px 5px black;
    font-weight: 700;
    border: 1px solid black;

  }
  .calculatorkey button:hover{
    box-shadow: 2px 2px 1px black;
    
  }

  .calculator button {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;

  }

  .buttonc {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    background-color: rgb(184, 65, 65);
  }

  .buttonsubmit {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    background-color: rgb(39, 133, 44);
  }
  
  .display {
    padding: 5px;
    font-size: 47px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 310px;
    height: 65px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .maindisplay{
    align-content: center;
    height: 150px;
  }