body{
  background-repeat: no-repeat;
  background-size:100%;
  height: 766px;
}


.heading{
margin-left: 40%;
}

.heading h1{
  width: fit-content;
  background: linear-gradient(to left,rgb(83, 83, 83),blue);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-shadow: 2px 2px 7px rgb(255, 255, 255);
}

.content {

  align-content: center;
  flex-wrap: wrap;
}



button{
  border-radius: 10px;
}
.calculator {
    background-color: rgb(84, 90, 96);
    border-radius: 20px;
    width: 380px;
    height: 455px;
    
  }

  .calculatorkey {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
  }
  
  .calculator button {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
  }

  .buttonc {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    background-color: rgb(184, 65, 65);
  }

  .buttonsubmit {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    height: 50px;
    background-color: rgb(39, 133, 44);
  }
  
  .display {
    padding: 10px;
    font-size: 47px;
    text-align: right;
    background-color: aliceblue;
    width: 305px;
    height: 65px;
    margin-left: 27px;
    margin-top: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  
  .maindisplay{
    align-content: center;
    height: 150px;
  }